---
short_title: Home
title: <span class="glyphicon glyphicon-home"></span> Home
in_menu: true
sort_info: 10
---


<div class="jumbotron">
  <h2>Akagoria, the revenge of Kalista</h2>

  <p>Long ago, you were the greatest evil sorceress. But they defeated you, they forgot about you and now, they laugh at you. Find your power back!</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>

    <p class="text-justify">Akagoria is a single-player <a href="http://en.wikipedia.org/wiki/Role-playing_video_game">role-playing game</a> in an <a href="http://en.wikipedia.org/wiki/Open_world">open world</a> with a <a href="http://en.wikipedia.org/wiki/Top-down_perspective">top-down view</a>.</p>

    <p class="text-justify">After a very long sleep, Kalista the sorceress starts a long journey to get her lost powers back. The world of Akagoria has changed, it is now a peaceful place where people only want to live a pleasant life. Kalista will have to go throught this unknown environment and accomplish a long quest with many surprises.</p>

    <p class="text-justify">The world of Akagoria is a typical medieval fantasy, playing with clichés and having a great dose of humor.</p>

    <div class="alert alert-danger" role="alert">
      <p class="text-justify"><strong>Warning!</strong> This game is still in development! It is very far from finished!</p>
    </div>

  </div>

  <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-picture"></span> Screenshot</h3>

    <div class="thumbnail">
      <img src="screenshots/0.1.0/akagoria-0.png" alt="Akagoria screenshot" class="" />
    </div>

    <p class="text-center"><a class="btn btn-info" href="screenshots.html" role="button"><span class="glyphicon glyphicon-picture"></span> View more screenshots</a></p>
  </div>

  <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-cog"></span> Development</h3>

    <p class="text-justify">Akagoria is a <a href="http://www.gnu.org/philosophy/free-sw.html">free software</a> and is distributed under the <a href="http://www.gnu.org/copyleft/gpl-3.0.html">GPLv3 licence</a>, including the assets.</p>

    <p>The source code is available on <a href="https://gitlab.com/groups/akagoria">GitLab</a>.</p>

    <p class="text-center"><a class="btn btn-info" href="devel.html" role="button"><span class="glyphicon glyphicon-cog"></span> Learn about the development</a></p>
  </div>
</div>


